.form {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.form__input {
    padding: 10px;
    margin: 15px;
    margin-right: 15px;
    max-width: 100%;
    border: 1px solid rgb(232, 231, 231);
    width: 78%;
    margin-left: 10px;
}

.button__addTaskButton {
    color: #ffffff;
    background-color: teal;
    border: none;
    padding: 10px
    cursor: pointer;
    width: auto;
    height: 25px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .button__addTaskButton {
        width: 100%;
        !important;
    }
}



button:hover {
    background-color: rgb(3, 101, 101);
}

.button__done {
    outline: auto;
    color: #ffffff;
    width: 20px;
    height: 30px;
    background-color: #5cb85c;
    cursor: pointer;
    margin-right: 10px;
}

.button__remove {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

}