.form {
    background-color: #ffffff;

}

.form__input {
    padding: 10px;
    margin: 10px;
    max-width: 100%;
    outline: none;
    width: 80%;
}

.button__addTaskButton {
    color: #ffffff;
    background-color: teal;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 120px;
    height: 25px;
}

.button__done {
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
    font-size: x-large;
}

.button__remove {
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
}

.list__tasks {
    list-style-type: none;
}