.section {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.section--tasks {
    margin-top: 20px;
}

.section__list {
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}

.section__header {
    margin-left: 25px;
}

.list__tasks {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgb(232, 231, 231);
}

.list__tasks li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

.list__tasks li::after {
    flex-grow: 1;
    content: "";
    position: absolute;
    border-bottom: 1px solid #ddd;
    bottom: 0;
    left: 2%;
    right: 2%;
}